
<div id="contenedor">
<p>Foto: <img src="<%= fotoPerfil %> "></p>
<p>Nombre:<%= Nombre %></p>
 <video class="horizontal" controls>
    <source src="video/Para miriadas.mp4" type="video/mp4">
 </video>
 
</div>

