
<p>Foto de perfil: <br><img src="<%= fotoPerfil %> "></p>
<p>Nombre: <%= Nombre %></p>
<div  id="video">
<video controls="" width="100%">
  <source src="video/Para miriadas.mp4" type="video/mp4">
  
  Your browser does not support HTML5 video.
</video>

