<h3>Bienvenido a <%= title %></h3>
<p>Nombre autor: <span>Florencio</span><br/>
Foto:
<img src="images/pepe.bmp" alt="Foto de Pepe" id="pic" />
Video:
<video class="horizontal" controls>
<source src="video/Para miriadas.mp4" type="video/mp4">
</video>
